# Server Port
PORT=5000

# MongoDB Connection String
# 1. For Local MongoDB:
MONGODB_URI=mongodb+srv://ayurspandan_db_user:ao4HL3PtRiwlitzS@ayurvedic.zioqugn.mongodb.net/?appName=Ayurvedic

# 2. For MongoDB Atlas (Free Cloud Database):
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/ayurveda_clinic?retryWrites=true&w=majority

